*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          width: 100%;
          font-family: 'Poppins', sans-serif;
          scroll-behavior: smooth;
          margin: auto;
          cursor: none;
          overflow-y: scroll;
          overflow-x: hidden;
}

/* navigation */

.navigation{
          width: 100%;    
          background: black;     
          position: fixed; 
          z-index: 10;
}

.navigation ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 50px;
          list-style: none;
}

.github-btn{
          background: rgb(192, 255, 2);
          padding: 8px 20px;
          transition: 0.5s ease;
}

   
.github-btn:hover{
          background: white;
          padding: 8px 20px;
   }
   

.github-btn a{
          text-decoration: none;
          color: black;
}

#large-circle{
        animation: large-c 5s infinite linear;
        transform-origin: center;
       
}

@keyframes large-c{
          from{
                    transform: rotate(0deg);
          }
          to{
                    transform: rotate(360deg);
          }
}

#middle-line{
          animation: m-line 1s infinite linear;
          transform-origin: center;
         
  }
  
  @keyframes m-line{
            from{
                      transform: rotate(20deg);
            }
            to{
                      transform: rotate(90deg);
            }
  }
  

  /* selection */

::selection{
          background: white;
}


/* section-one */


.section-one{
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-top: 300px;
          background: black;
}

.image-name{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
         
}

.image-name img{
          max-width: 500px;
          max-height: 600px;
          display: block;
    
}

.image-name p{
          transform: rotate(-90deg);
          font-size: 60px;
          padding-top: 300px;
          color: #C0FF02;
}

.image-name marquee{
          width: 100px;
          border-top: 2px solid rgb(255, 255, 255);
          border-bottom: 2px solid rgb(255, 255, 255);
          padding: 10px;
          margin-bottom: -100px;
          color: white;
          
}

.quotes{
          padding-top: 300px;
}

.quotes p{
          font-size: 100px;
          color: #C0FF02;
          font-weight: 600;
          padding-bottom: 200px;
}

/* section-two */

.section-two{
          width: 100%;
          height: auto;
          padding-top: 200px;
          background: #E5BABD;
          padding-bottom: 150px;
}

.who{
          padding-bottom: 150px;
}

.who marquee{
       font-size: 60px;
       width: 100%;
       border-top: 2px solid rgb(255, 255, 255);
       border-bottom: 2px solid rgb(255, 255, 255);
       padding: 10px;
       word-spacing: 80px;
}

.inner-section-two{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
}

.cris-image marquee{
          padding-top: 30px;
          border-bottom: 2px solid white;
          font-size: 30px;
}



.about-me h1{
          font-size: 130px;
          padding-bottom: 80px;
          color: #C0FF02;
}

.about-me p{
          font-size: 40px;
          color: #C0FF02;
}

.about-me a{
          color: #C0FF02;
}

.hand svg{
          position: relative;
          width: 450px;
          height: 500px;
        transform: rotate(-45deg);
        animation: finger 5s linear infinite alternate;
}

@keyframes finger{
          from{
                    transform: rotate(0deg);
          }
          to{
                    transform: rotate(-50deg);
          }
}

/* section-three */

.section-three{
          width: 100%;
          height: auto;
          padding-top: 200px;
          background: #54AECF;
          padding-bottom: 180px;
}

.mini-section-three{
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
}

.mini-section-three video{
          position: absolute;
          right: 100px;
         
}

.cris-image{
          position: relative;
}


.cris-image img{
          position: relative;
          display: block;
          width: 400px;
}

.g-layers{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 2;
}

.g-layer{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background-image: url(./cris-pic.jpg);
          background-repeat: no-repeat;
          background-position: 0 0;
}

.g-layer:nth-child(1){
          transform: translateX(-10%);
          animation:cris-1 2s infinite linear ;
}

@keyframes cris-1{
        0%{
                clip-path: polygon(0% 0%,100% 0%,100% 5%,0% 5%);
      }
      20%{
                clip-path: polygon(0% 5%,100% 5%,100% 15%,0% 15%);
      }
      30%{
                clip-path: polygon(0% 50%,100% 50%,100% 15%,0% 15%);
      }
      40%{
                clip-path: polygon(0% 1%,100% 1%,100% 5%,0% 5%);
      }
      50%{
                clip-path: polygon(0% 20%,100% 20%,100% 35%,0% 35%);
      }
      60%{
                clip-path: polygon(0% 55%,100% 55%,100% 65%,0% 65%);
      }
      70%{
                clip-path: polygon(0% 0%,100% 0%,100% 5%,0% 5%);
      }
      80%{
                clip-path: polygon(0% 70%,100% 70%,100% 65%,0% 65%);
      }
      90%{
                clip-path: polygon(0% 40%,100% 40%,100% 5%,0% 5%);
      }
      100%{
                clip-path: polygon(0% 100%,100% 100%,100% 5%,0% 5%);
      }
}

.g-layer:nth-child(2){
        transform: translateX(-10%);
        animation: glitch-2 3s infinite linear alternate;
    
}

@keyframes glitch-2 {
        0%{
                  clip-path: polygon(0% 0%,100% 0%,100% 5%,0% 5%);
        }
        20%{
                  clip-path: polygon(0% 5%,100% 5%,100% 15%,0% 15%);
        }
        30%{
                  clip-path: polygon(0% 10%,100% 10%,100% 15%,0% 15%);
        }
        40%{
                  clip-path: polygon(0% 1%,100% 1%,100% 5%,0% 5%);
        }
        50%{
                  clip-path: polygon(0% 40%,100% 40%,100% 35%,0% 35%);
        }
        60%{
                  clip-path: polygon(0% 55%,100% 55%,100% 25%,0% 2     5%);
        }
        70%{
                  clip-path: polygon(0% 0%,100% 0%,100% 5%,0% 5%);
        }
        80%{
                  clip-path: polygon(0% 30%,100% 30%,100% 65%,0% 65%);
        }
        90%{
                  clip-path: polygon(0% 40%,100% 40%,100% 5%,0% 5%);
        }
        100%{
                  clip-path: polygon(0% 100%,100% 100%,100% 5%,0% 5%);
        }
        

}


.sport h1{
          font-size: 130px;
          padding-bottom: 80px;
          color: #C0FF02;
}

.sport p{
          font-size: 40px;
          color: #C0FF02;
          padding-bottom: 80px;
          position: relative;
          z-index: 1;
}

.real-madrid marquee{
          font-size: 60px;
          width: 100%;
          border-top: 2px solid rgb(255, 255, 255);
          border-bottom: 2px solid rgb(255, 255, 255);
          padding: 10px;
          transform: rotate(-180deg);
          word-spacing: 80px;
}




/* section-four */

.section-four{
          width: 100%;
          height: auto;
         background: black;
         padding-top: 180px;
         padding-bottom: 180px;
}

.schooling marquee{
          
          font-size: 60px;
          width: 100%;
          border-top: 2px solid rgb(255, 255, 255);
          border-bottom: 2px solid rgb(255, 255, 255);
          padding: 10px;
          word-spacing: 80px;
          color: white;
}

.spent h1{
        position: relative;
}

.school-pic{
        position: relative;
}

.school-pic img{
        width: 300px;
        padding-right: 50px;
}

.school-pic svg{
        display: grid;
        width: 200px;
        position: absolute;
        right: 600px;
        top: 250px;
}

.schooling{
          padding-bottom: 160px;
}

.mini-section-four{
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
}

.years{
          width: 100%;
          padding-left: 100px;
          position: relative;
}

.spent h1{
          font-size: 90px;
          padding-bottom: 80px;
          color: #C0FF02;
          padding-top: 80px;
}

.mark p{
        position: relative;
}

.eye-one{
        position: absolute;
        width: 300px;
        left: 400px;
        transform: rotate(110deg);
        animation: e-one 2s infinite linear alternate;
}

@keyframes e-one{
        from{
                  transform: rotate(0deg);
        }
        to{
                  transform: rotate(360deg);
        }
}

.eye-two{
        position: absolute;
        width: 200px;
        left: 500px;
        bottom: 10px;
        transform: rotate(-180deg);
        animation: e-two 4s infinite linear alternate;
}

@keyframes e-two{
        from{
                  transform: scale(0.1)
        }
        to{
                  transform: rotate(60deg);
        }
}

.mark p{
          font-size: 40px;
          color: #C0FF02;
          padding-bottom: 80px;
}

#needle{
    animation: spike 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes spike{
          from{
                    transform: rotate(0deg);
          }
          to{
                    transform: rotate(360deg);
          }
}

.school-pic{
        position: relative;
}

.eye-three{ 
        transform: rotate(190deg);
        position: absolute;
        right: 30px;   
        animation: e-three 8s infinite linear alternate;   
}

@keyframes e-three{
        from{
               transform: rotate(-180deg);
        }
        to{
               transform: scale(0.5);
        }
}

.school-pic .eye-four{
       width: 400px;
       position: absolute;
       right: 300px;
       transform: rotate(220deg);
       bottom: -600px;
       animation: last 3s infinite linear alternate;
}

@keyframes last{
        from{
                transform: rotate(-50deg);
        }
        to{
                transform: rotate(-90deg);
        }
}
/* section-five */

.section-five{
          width: 100%;
          height: auto;
          padding-top: 150px;
          background: #C0FF02;
          padding-bottom: 160px;
}

.mini-section-five{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
}

.worked h1{
          font-size: 90px;
          padding-bottom: 50px;
          color: #000000;
          padding-top: 80px;
}
.worked p{
          font-size: 40px;
          color: #000000;
          padding-bottom: 80px;
}

.mail a{
     background: black;
     padding: 10px 30px;
     color: white;
     border-radius: 294px;   
}

.mail span{
          position: relative;
          padding-left: 20px;
          display: inline-block;
          z-index: 10;
}


.dev-page{
         text-align: right;
         padding-right: 10px;               
}

#mail-line{
          animation: mail-l 2s infinite linear alternate-reverse;
          transform-origin: center;
          transform-box: fill-box;
}

@keyframes mail-l{
          from{
                    transform: translateX(-33px)
          }
          to{
                    transform: translateX(33px)
          }
}

/* footer */

footer{
          width: 100%;
          background: white;
          display: grid;
          place-content: center;
          height: 15vh;
}

footer a{
          display: inline-block;
          padding: 20px 50px;
          cursor: pointer;
          background: none;
          border-top: 2px solid rgb(0, 0, 0);
          border-bottom: 2px solid rgb(0, 0, 0);
          outline: none;
          border-left: none;
          border-right: none;
          font-size: 20px;
          transition: 2s ease;
}

footer a:hover{
          
          border-right: 2px solid rgb(0, 0, 0);
          border-left: 2px solid rgb(0, 0, 0);
          border-top: none;
          border-bottom: none;
}

/* scrollbar thumb */

::-webkit-scrollbar{
          width: 25px;
          cursor: none;
          position: relative;
          z-index: -100;
}
::-webkit-scrollbar{
          border: 3px solid greenyellow;
          background: rgb(0, 0, 0);
          box-sizing: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
          cursor: none;
}

::-webkit-scrollbar-thumb{
          background: #C0FF02;
          cursor: none;
}

/* mouse */

.mouse{
        width: 100px;
        height: 100px;
        border: 2px solid white;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        pointer-events:none;
        z-index: 100;
        transition: all 0.2s ease;
        transition-property: background,transform;
        transform-origin: 100% 100%;
        backdrop-filter: blur(5px);
        backdrop-filter: grayscale();
}

.cursor-one{
        transform: scale(0.5);
        background: #C0FF02;
}

.cursor-two{
        transform: scale(0.5);
        background: #ffffff;
}

.cursor-three{
        transform: scale(0.5);
        background: #C0FF02;
}


/* alert-box */


.popup{
        background: #C4C4C4;
        position: absolute;
        width: 600px;
        height: 370px;
        outline: 5px solid #758aa4;
        top: 6930px;
        z-index: 10;
        justify-content: center;
        left: 440px;
        display: none;
}

.the-eye{
        width: 100px;
}

.the-cloud{
        width: 140px;
}

.the-left-eye{
        width: 100px;
}

.eye-images{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
}

.hints{
        padding-top: 30px;
        text-align: center;
        font-size: 20px;
}

.hints h1{
        color: #C0FF02;
}

.buttons{
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
}

.buttons a{
        background: #C0FF02;
        display: inline-block;
        text-decoration: none;
        color: black;     
}

.buttons a:hover{
        background: #ffffff;
        display: inline-block;
        text-decoration: none;
        color: black;     
}



.r-btn{
        padding: 5px 10px;
}

.c-btn{
        padding: 5px 19px;
}


.left{
        position: relative;
}

.left img{
        position: absolute;
         transform: rotate(205deg);
         top: 20px;
         left: -30px;
         animation: gray-eye 2s linear infinite alternate;
}

@keyframes gray-eye{
        from{
                transform: rotate(220deg);
        }
        to{
                transform: rotate(250deg);
        }
}


.right{
        position: relative;
}


.right img{
        width: 100px;
        padding-top: 20px;
      
}


.right svg{
        position: absolute;
        width: 150px;
        right: 10px;
        top: -30px;
}


.shadow-eye{
        animation: e-shadow 2s infinite linear alternate;
}

@keyframes e-shadow{
        from{
                transform: translateY(0px);
        }
        to{
                transform: translateY(30px)
        }
}


/* landing-page */

/* logo-animation */

#cross-line{
        animation: big-line 5s infinite linear;
        transform-origin: center;
        transform-box: fill-box;

}

@keyframes big-line{
        from{
                transform: rotate(0deg);
        }
        to{
                transform: rotate(360deg);
        }
}

#center-line{
        animation: center-line 1s infinite linear alternate-reverse;
        transform-origin: center;
        transform-box: fill-box;
}

@keyframes center-line{
        from{
                transform: rotate(0deg);
        }
        to{
                transform: rotate(80deg);
        }
}

#center-circle{
        animation: center-circle 2.5s infinite linear alternate-reverse;
        transform-origin: center;
        transform-box: fill-box;
}

@keyframes center-circle{
     100%{
             transform: scale(2);
     }
}

.loader{
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

/* blue-slider  */

.blueSlider{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 499;
        background: #54AECF;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-bottom: 100px;
        padding-left: 30px;
}

.blueSlider p{
        color: black;
        font-size: 80px;
        font-weight: 800;
        align-self: flex-end;
        background: rgb(192, 255, 2);

}

/* lime-slider */

.limeSlider{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 498;
        background:#C0FF02;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-bottom: 100px;
        padding-left: 260px;
}

.limeSlider p{
        color: black;
        font-size: 80px;
        font-weight: 800;
        align-self: flex-end;
        background: #E5BABD;

}

/* pink-slider */

.pinkSlider{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 497;
        background:#E5BABD;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-bottom: 100px;
        padding-left: 390px;
}

.pinkSlider p{
        color: rgb(255, 255, 255);
        font-size: 80px;
        font-weight: 800;
        align-self: flex-end;
        background: black;

}



